body{
	background: white;
	color: black;
	text-align: center;
}
img{
	border: solid 5px white;
	width:100%;
	height:20% no-repeat;
	border-bottom-width: 20px;

}

.logo{
	border: solid 3px white;
	width:80px;
	height:50px;
}

*{
	box-sizing: border-box;

}
.nav{
	float: right !important;
}
